@namespace PicPay.Web.Features.Cross.GetNotifications

<div>
    @if (_alert)
    {
        <MudIconButton Color="Color.Error" Icon="@Icons.Material.Filled.NotificationsActive" Style="color: #FFF" />
    }
    else
    {
        <MudIconButton Icon="@Icons.Material.Filled.NotificationsNone" Color="Color.Inherit" />
    }
</div>

@inject GetNotificationsClient GetNotificationsClient

@code
{
    private bool _alert = false;
}
